body{
    font-family: sans-serif;
    margin: 0%;
    background: #f1f1f4;
   margin: auto;
   }

a{
    color: #fff;
}

header {
    display: flex;
    height: 80px;
    background-color: #3a4298;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}
.logo-img{
    height: 80px;

}

/* barra de navegacion */
.nav{
    margin-top: 2rem;
 
}
  
  .nav a {
    float: center;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  
  .nav a:hover {
    background-color: #ddd;
    color: #3a4298;
  }

  h1 {
    text-align: center;
    width: 60%;
    margin-left: 4rem;
  }

  h2 {
    text-align: justify;
    width: 60%;
    margin-left: 4rem;
    border: 1px solid black;

.contenedor {
    width: 80%;
}
gif_drone {
    width: 20%;
}
    
  }
  
footer {
    margin: 0;
    padding: 10px;
    background-color: #3a4298;
    color: white;
    text-align: center;
}