body{
    font-family: sans-serif;
    background: #f1f1f4;
   margin: auto;
   }

a{
    color: #fff;
}

header {
    display: flex;
    height: 80px;
    background-color: #3a4298;
    justify-content: space-between;
   
}

.logo {
    display: flex;
    align-items: center;
}
.logo-img{
    height: 80px;
    margin-left: 150px;
    

}

/* barra de navegacion */
.nav{
    margin-top: 2rem;
    margin-right: 150px;
 
}
  
  .nav a {
    float: center;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  
  .nav a:hover {
    background-color: #ddd;
    color: #121213;
  }

  h1 {
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
    
  }

  h2 {
    text-align: justify;
    padding: 0px;
    font-size: 20px;
    margin-left: 80px;
    margin-right: 0px;
 
  }

  .contenedor {
    display: flex;
    }
  
    .derecha {
      margin: 200px 160px;
    }
  p {
    font-size: 20px;
    margin-left: 80px;
    margin-right: 80px;
    justify-content: center;
  }
  
  ul {
    font-size: 20px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: justify;
  }

  .servicios {
   align-content: center;
  }

footer {
    margin: 0;
    padding: 10px;
    background-color: #3a4298;
    color: white;
    text-align: center;
}